<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="false">

	<display-name>Healing Project</display-name>
	<description>
     Welcome to Tomcat
  </description>

	<!-- 서블릿클래스 정의(등록) -->
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>the.healing.time.control.HController</servlet-class>
	</servlet>

	<!-- ======================================================== -->
	<!-- 서블릿클래스에 매핑될 가상의 경로 정의(url-pattern) -->

	<!-- ??왜 안되냐 -->
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<!-- 분단위 세션해제 <session-config> <session-timeout>30</session-timeout> </session-config> -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>hello.html</welcome-file>
	</welcome-file-list>

</web-app>




